<meta charset="UTF-8">
<head>
<style>
img{
	width: 350px;
	height: 345px;
}
</style>
</head>
<body>      
        <!-- Main content -->
        <section class="container">
            <div class="col-sm-12">
                <h2 class="page-heading">닮은꼴 찾기 이벤트</h2>
                
                <div class="row">
                <div class="gallery-wrapper">
                    <div class="col-sm-4">
                        <div class="gallery-item">
                            <a href='/images/gallery/thumb/audrey.jpg' class="gallery-item__image gallery-item--photo">
                                <img alt='' src="/images/gallery/thumb/audrey.jpg">
                            </a>
                            <a href='/images/gallery/thumb/audrey.jpg' class="gallery-item__descript gallery-item--photo-link">
                                <span class="gallery-item__icon"><i class="fa fa-camera"></i></span>
                                <p class="gallery-item__name">Audrey Hepburn</p>
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="gallery-item">
                            <a href='/images/gallery/thumb/leejungjae.jpg' class="gallery-item__image gallery-item--photo">
                                <img alt='' src="/images/gallery/thumb/leejungjae.jpg">
                            </a>
                            <a href='/images/gallery/thumb/leejungjae.jpg' class="gallery-item__descript gallery-item--photo-link">
                                <span class="gallery-item__icon"><i class="fa fa-camera"></i></span>
                                <p class="gallery-item__name">이정재</p>
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="gallery-item">
                            <a href='hhttps://www.youtube.com/watch?v=BmgZ8VMLRnk' class="gallery-item__image gallery-item--video">
                                <img alt='' src="/images/gallery/thumb/chris.jpg">
                            </a>
                            <a href='https://www.youtube.com/watch?v=BmgZ8VMLRnk' class="gallery-item__descript gallery-item--video-link">
                                <span class="gallery-item__icon"><i class="fa fa-video-camera"></i></span>
                                <p class="gallery-item__name">Chris Hemsworth</p>
                            </a>
                        </div>
                    </div>
                    
                    <div class="col-sm-4">
                        <div class="gallery-item">
                            <a href='/images/gallery/thumb/anne.jpg' class="gallery-item__image gallery-item--photo">
                                <img alt='' src="/images/gallery/thumb/anne.jpg">
                            </a>
                            <a href='/images/gallery/thumb/anne.jpg' class="gallery-item__descript gallery-item--photo-link">
                                <span class="gallery-item__icon"><i class="fa fa-camera"></i></span>
                                <p class="gallery-item__name">Anne Hathaway</p>
                            </a>
                        </div>
                    </div>
                    
                    <div class="col-sm-4">
                        <div class="gallery-item">
                            <a href='https://www.youtube.com/watch?v=vz3W87uWcx8' class="gallery-item__image gallery-item--video">
                                <img alt='' src="/images/gallery/thumb/dean.jpg">
                            </a>
                            <a href='https://www.youtube.com/watch?v=vz3W87uWcx8' class="gallery-item__descript gallery-item--video-link">
                                <span class="gallery-item__icon"><i class="fa fa-video-camera"></i></span>
                                <p class="gallery-item__name">James Dean</p>
                            </a>
                        </div>
                    </div>
                    
                    <div class="col-sm-4">
                        <div class="gallery-item">
                            <a href='https://www.youtube.com/watch?v=s70BpI66YF0' class="gallery-item__image gallery-item--video">
                                <img alt='' src="/images/gallery/thumb/kimtaehee.jpg">
                            </a>
                            <a href='https://www.youtube.com/watch?v=s70BpI66YF0' class="gallery-item__descript gallery-item--video-link">
                                <span class="gallery-item__icon"><i class="fa fa-video-camera"></i></span>
                                <p class="gallery-item__name">김태희</p>
                            </a>
                        </div>
                    </div>
                </div>
                </div>
            </div>

        </section>
         <section class="container">
            <div class="order-container">
                <div class="order">
                    <img id="uploadimg"alt='' src="/images/gallery/thumb/cfrbasic.jpg">
                    <p class="order__title">닮은꼴 배우를 찾아보세요.<br><span class="order__descript">and have fun movie time</span></p>
                    <h2 id="celeb"></h2>
                    <a id="celeblink" target='_blank'></a>
                    <div class="order__control">                 
                        <input type="file" name="mf" id="mf" placeholder="Enter imgname"
						onchange="PreviewImage(event)" class="btn btn-md btn--shine">
						<button onclick="upload()" class="order__control-btn">닮은꼴 찾기</button>
                    </div>
                </div>
            </div>
        </section>
        
        <div class="clearfix"></div>
    </div>

    <!-- open/close -->
        <div class="overlay overlay-hugeinc">
            
            <section class="container">

                <div class="col-sm-4 col-sm-offset-4">
                    <button type="button" class="overlay-close">Close</button>
                    <form id="login-form" class="login" method='get' novalidate=''>
                        <p class="login__title">sign in <br><span class="login-edition">welcome to A.Movie</span></p>

                        <div class="social social--colored">
                                <a href='#' class="social__variant fa fa-facebook"></a>
                                <a href='#' class="social__variant fa fa-twitter"></a>
                                <a href='#' class="social__variant fa fa-tumblr"></a>
                        </div>

                        <p class="login__tracker">or</p>
                        
                        <div class="field-wrap">
                        <input type='email' placeholder='Email' name='user-email' class="login__input">
                        <input type='password' placeholder='Password' name='user-password' class="login__input">

                        <input type='checkbox' id='#informed' class='login__check styled'>
                        <label for='#informed' class='login__check-info'>remember me</label>
                         </div>
                        
                        <div class="login__control">
                            <button type='submit' class="btn btn-md btn--warning btn--wider">sign in</button>
                            <a href="#" class="login__tracker form__tracker">Forgot password?</a>
                        </div>
                    </form>
                </div>

            </section>
        </div>

	<!-- JavaScript-->
        <!-- jQuery 3.1.1--> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/external/jquery-3.1.1.min.js"><\/script>')</script>
        <!-- Migrate --> 
        <script src="js/external/jquery-migrate-1.2.1.min.js"></script>
        <!-- Bootstrap 3--> 
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

        <!-- Magnific-popup -->
        <script src="js/external/jquery.magnific-popup.min.js"></script>

        <!-- Mobile menu -->
        <script src="js/jquery.mobile.menu.js"></script>
         <!-- Select -->
        <script src="js/external/jquery.selectbox-0.2.min.js"></script>

        <!-- Form element -->
        <script src="js/external/form-element.js"></script>
        <!-- Form validation -->
        <script src="js/form.js"></script>

        <!-- Custom -->
        <script src="js/custom.js"></script>
		
		<script type="text/javascript">
		function display(data){
			if(data==''){
				$('#celeb').hide();
				$('#celeb').fadeIn(3000);
				$('#celeb').text("사진을 한번 더 확인해 주세요");
				$('#celeblink').hide();
			}
			var celeb = data.faces[0].celebrity.value;
			$('#celeb').hide();
			$('#celeb').fadeIn(3000);
			$('#celeb').text("당신의 닮은꼴은 "+celeb+" 입니다!");
			$('#celeblink').hide();
			$('#celeblink').fadeIn(3000);
			$('#celeblink').text(celeb+"이 궁금하시다면 클릭하세요!");
			$('#celeblink').attr("href", "https://www.google.com/search?q="+celeb+"&tbm=isch&ved=2ahUKEwiTlZqQjoz5AhUmzYsBHeWwD_YQ2-cCegQIABAA&oq=%EA%B6%8C%EC%84%B1%ED%98%84&gs_lcp=CgNpbWcQAzILCAAQgAQQsQMQgwEyBAgAEAMyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDoECAAQGDoGCAAQHhAHOggIABCABBCxAzoICAAQsQMQgwFQ3gVY2A5gpg9oAHAAeACAAXOIAdkIkgEDMy44mAEAoAEBqgELZ3dzLXdpei1pbWewAQDAAQE&sclient=img&ei=G2TaYtObJqaar7wP5eG-sA8&bih=880&biw=1920")
	

		};
		
		function PreviewImage(event) {
	        // 파일리더 생성 
	        var preview = new FileReader();
	        preview.onload = function (event) {
	        // img id 값 
	        	$('#uploadimg').attr('src',event.target.result);
	        	$('#uploadimg').hide();
	        	$('#uploadimg').fadeIn(1500);
			    };
			    // input id 값 
			    preview.readAsDataURL(event.target.files[0]);
			    //alert('preview.readAsDataURL : ' + event.target.files[0]);
			 };
	 	function upload(){
	 		var file = $('#mf')[0];
	 		if (file.files.length === 0) {
				alert("파일을 선택해주세요");
				return;
			}
	 		const formData = new FormData();
			formData.append("image", file.files[0]);
			
			$.ajax({
				type:"POST",
				url : 'cfrresult',
				processData : false,
				contentType : false,
				data: formData,
				success : function(data) {
					display(data);
				}
			});
	 	};
            $(document).ready(function() {
                init_Gallery();
                
            });
		</script>

</body>

