<meta charset="UTF-8">
<head>
<style>
img{
	width: 350px;
	height: 345px;
}
</style>
</head>
<body>      
        <!-- Main content -->
        <section class="container">
            <div class="col-sm-12">
                <h2 class="page-heading">닮은꼴 찾기 이벤트</h2>
                
                <div class="row">
                <div class="gallery-wrapper">
                    <div class="col-sm-4">
                        <div class="gallery-item">
                            <a href='/images/gallery/thumb/audrey.jpg' class="gallery-item__image gallery-item--photo">
                                <img alt='' src="/images/gallery/thumb/audrey.jpg">
                            </a>
                            <a href='/images/gallery/thumb/audrey.jpg' class="gallery-item__descript gallery-item--photo-link">
                                <span class="gallery-item__icon"><i class="fa fa-camera"></i></span>
                                <p class="gallery-item__name">Audrey Hepburn</p>
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="gallery-item">
                            <a href='/images/gallery/thumb/leejungjae.jpg' class="gallery-item__image gallery-item--photo">
                                <img alt='' src="/images/gallery/thumb/leejungjae.jpg">
                            </a>
                            <a href='/images/gallery/thumb/leejungjae.jpg' class="gallery-item__descript gallery-item--photo-link">
                                <span class="gallery-item__icon"><i class="fa fa-camera"></i></span>
                                <p class="gallery-item__name">이정재</p>
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="gallery-item">
                            <a href='hhttps://www.youtube.com/watch?v=BmgZ8VMLRnk' class="gallery-item__image gallery-item--video">
                                <img alt='' src="/images/gallery/thumb/chris.jpg">
                            </a>
                            <a href='https://www.youtube.com/watch?v=BmgZ8VMLRnk' class="gallery-item__descript gallery-item--video-link">
                                <span class="gallery-item__icon"><i class="fa fa-video-camera"></i></span>
                                <p class="gallery-item__name">Chris Hemsworth</p>
                            </a>
                        </div>
                    </div>
                </div>
                </div>
            </div>

        </section>
         <section class="container">
            <div class="order-container">
                <div class="order">
                    <img class="order__images" alt='' src="/images/gallery/thumb/chris.jpg">
                    <p class="order__title">이미지와 같은 닮은꼴 배우를 찾아보세요.<br><span class="order__descript">and have fun movie time</span></p>
                    <div class="order__control">
                        <a href="#" class="order__control-btn">Button</a>
                    </div>
                </div>
            </div>
        </section>
        
        <div class="clearfix"></div>
    </div>

    <!-- open/close -->
        <div class="overlay overlay-hugeinc">
            
            <section class="container">

                <div class="col-sm-4 col-sm-offset-4">
                    <button type="button" class="overlay-close">Close</button>
                    <form id="login-form" class="login" method='get' novalidate=''>
                        <p class="login__title">sign in <br><span class="login-edition">welcome to A.Movie</span></p>

                        <div class="social social--colored">
                                <a href='#' class="social__variant fa fa-facebook"></a>
                                <a href='#' class="social__variant fa fa-twitter"></a>
                                <a href='#' class="social__variant fa fa-tumblr"></a>
                        </div>

                        <p class="login__tracker">or</p>
                        
                        <div class="field-wrap">
                        <input type='email' placeholder='Email' name='user-email' class="login__input">
                        <input type='password' placeholder='Password' name='user-password' class="login__input">

                        <input type='checkbox' id='#informed' class='login__check styled'>
                        <label for='#informed' class='login__check-info'>remember me</label>
                         </div>
                        
                        <div class="login__control">
                            <button type='submit' class="btn btn-md btn--warning btn--wider">sign in</button>
                            <a href="#" class="login__tracker form__tracker">Forgot password?</a>
                        </div>
                    </form>
                </div>

            </section>
        </div>

	<!-- JavaScript-->
        <!-- jQuery 3.1.1--> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/external/jquery-3.1.1.min.js"><\/script>')</script>
        <!-- Migrate --> 
        <script src="js/external/jquery-migrate-1.2.1.min.js"></script>
        <!-- Bootstrap 3--> 
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

        <!-- Magnific-popup -->
        <script src="js/external/jquery.magnific-popup.min.js"></script>

        <!-- Mobile menu -->
        <script src="js/jquery.mobile.menu.js"></script>
         <!-- Select -->
        <script src="js/external/jquery.selectbox-0.2.min.js"></script>

        <!-- Form element -->
        <script src="js/external/form-element.js"></script>
        <!-- Form validation -->
        <script src="js/form.js"></script>

        <!-- Custom -->
        <script src="js/custom.js"></script>
		
		<script type="text/javascript">
            $(document).ready(function() {
                init_Gallery();
            });
		</script>

</body>

