<meta charset="UTF-8">


<div>
	<h1>Cookie Test Page</h1>
	<br>

	<button onclick="cookieCheck()">모든 쿠키 확인하기</button>

	<!-- 'cookie_test'라는 이름을 가진 쿠키의 값을 'success'로 '1'일동안 저장한다. -->
	<button onclick="setCookie('cookie_test', 'success', '1');">쿠키
		저장하기</button>
	<button onclick="getCookie('cookie_test')">특정 쿠키 value 가져오기</button>
	<button onclick="deleteCookie('cookie_test')">특정 쿠키 삭제하기</button>
	<button onclick="deleteCookie('visit')">특정 쿠키 삭제하기 visit</button>
	<script>
		function addvisitcnt() {// 방문자수 늘리는 함수 

			$.ajax({
				type : "POST",
				url : '/addvisit',
				success : function(data) {
					visit_display(data);
				}
			});

		}

		function visit_display(data) {
			alert('오늘 방문한 사람 수 : ' + data);
		}

		function cookieCheck() {
			alert(document.cookie.split(';'))// 쿠키의 형태는 key1=value1; key2=value2; 처럼 나눠짐

			if (!getCookie('visit')) {// getCookie() 결과가 1이면 찾고자 하는 쿠키 있는거 0이면 없는거 
				// 방문했다는 cookie생성 및 ajax로 방문자수 업데이트 
				setCookie('visit', '1', '1');// cookie이름, 저장할 값 , 기간 을 매개변수로 보낸다.
				addvisitcnt();
			}

		}

		function setCookie(cookie_name, value, days) {
			var exdate = new Date();
			exdate.setTime(exdate.getTime() + 60 * 1000);
			//exdate.setDate(exdate.getDate() + days);
			var cookie_value = escape(value)
					+ ((days == null) ? '' : '; expires='
							+ exdate.toUTCString());
			document.cookie = cookie_name + '=' + cookie_value;
		}

		function getCookie(cookie_name) {
			var x, y;
			var result = 0;//1이면 쿠키 있는거 0이면 없는거 
			var val = document.cookie.split(';');//모든 쿠키를 가진 변수 

			for (var i = 0; i < val.length; i++) {
				x = val[i].substr(0, val[i].indexOf('='));
				y = val[i].substr(val[i].indexOf('=') + 1);
				x = x.replace(/^\s+|\s+$/g, '');
				if (x == cookie_name) {// 찾고싶은 쿠키가 있을 경우 실행 
					alert(y);
					result = 1;
					braek;
				}
			}

			return result;
		}

		function deleteCookie(cookie_name) {
			document.cookie = cookie_name
					+ '=; expires=Thu, 01 Jan 1999 00:00:10 GMT;';
		}
	</script>

</div>