<meta charset="UTF-8">
<style>
.nav-link{
font-size:12px;
}
</style>
<footer class="footer-wrapper">
            <section class="container">
                <div class="col-xs-12 col-md-6 footer-nav">
                    <ul class="nav-link">
                        <li>파이널 프토젝트 -클래식 영화관-</li>
                        <li>팀장: 김민식 팀원: 안원영 장효준 정세연</li>
                        <li>과정명: 멀티캠퍼스 AI플랫폼을 활용한 웹서비스 개발</li>
                        <li>&copy;티켓사조 , 2022</li>
                       
                    </ul>
                </div>
                <div class="col-xs-12 col-md-6 footer-nav">
                    <ul class="nav-link">
                        
                        <li>(06192)서울특별시 강남구 대치동 889-41</li>
                        <li>1544-9001</li>
                        <li>&nbsp</li>
                        <li><a th:href="@{/contact}">Contact us</a></li>
                       
                    </ul>
                </div>        
            </section>
</footer>