<meta charset="UTF-8">
<footer class="footer-wrapper">
            <section class="container">
                <div class="col-xs-4 col-md-2 footer-nav">
                    <ul class="nav-link">
                        <li><a href="#" class="nav-link__item">Wonyoung Test</a></li>
                        <li><a href="#" class="nav-link__item">Movies</a></li>
                        <li><a href="#" class="nav-link__item">Trailers</a></li>
                        <li><a href="#" class="nav-link__item">Rates</a></li>
                    </ul>
                </div>
                <div class="col-xs-4 col-md-2 footer-nav">
                    <ul class="nav-link">
                        <li><a href="#" class="nav-link__item">Coming soon</a></li>
                        <li><a href="#" class="nav-link__item">Cinemas</a></li>
                        <li><a href="#" class="nav-link__item">Best offers</a></li>
                        <li><a href="#" class="nav-link__item">News</a></li>
                    </ul>
                </div>
                <div class="col-xs-4 col-md-2 footer-nav">
                    <ul class="nav-link">
                        <li><a href="#" class="nav-link__item">Terms of use</a></li>
                        <li><a href="#" class="nav-link__item">Gallery</a></li>
                        <li><a href="#" class="nav-link__item">Contacts</a></li>
                        <li><a href="#" class="nav-link__item">Shortcodes</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="footer-info">
                        <p class="heading-special--small">A.Movie<br><span class="title-edition">in the social media</span></p>

                        <div class="social">
                            <a href='#' class="social__variant fa fa-facebook"></a>
                            <a href='#' class="social__variant fa fa-twitter"></a>
                            <a href='#' class="social__variant fa fa-vk"></a>
                            <a href='#' class="social__variant fa fa-instagram"></a>
                            <a href='#' class="social__variant fa fa-tumblr"></a>
                            <a href='#' class="social__variant fa fa-pinterest"></a>
                        </div>
                        
                        <div class="clearfix"></div>
                        <p class="copy">&copy; Ticket Sa Jo ,2022 .</p>
                    </div>
                </div>
            </section>
        </footer>