<meta charset="UTF-8">
<style>
.nav-link{
font-size:12px;
}


</style>
<footer class="footer-wrapper">
            <section class="container">
                <div class="col-xs-12 col-md-4 footer-nav">
                    <ul class="nav-link">
                        <li>파이널 프토젝트 -클래식 영화관-</li>

                        
                        <li>과정명: 멀티캠퍼스 AI플랫폼을 활용한 웹서비스 개발</li>
                        
                       
                    </ul>
                </div>
                <div class="col-xs-12 col-md-4 footer-nav">
                    <ul class="nav-link">                  
                        <li>&copy;티켓사조 , 2022</li>
                        <li>팀장: 김민식 팀원: 안원영 정세연 장효준</li>                 
                    </ul>
                </div>   
                <div class="col-xs-12 col-md-4 footer-nav">
                    <ul class="nav-link">


                        <li><a href="https://github.com/JangHyojoon/Ticket_SaJo">GitHub</a></li>

                       
                    </ul>
                </div>      
            </section>
</footer>