<meta charset="UTF-8">
<style>
li {
	/* list-style-image: url("/images/icons/heart.svg"); */
	list-style-image: none;
}

</style>
<!-- Header section -->
<header class="header-wrapper header-wrapper--home">
	<div class="container">
		<!-- Logo link-->
		<a th:href='@{/}' class="logo"> <img alt='logo'
			src="/images/logo.png">
		</a>

		<!-- Main website navigation-->
		<nav id="navigation-box">
			<!-- Toggle for mobile menu mode -->
			<a href="#" id="navigation-toggle"> <span class="menu-icon">
					<span class="icon-toggle" role="button"
					aria-label="Toggle Navigation"> <span class="lines"></span>
				</span>
			</span>
			</a>


			<!-- Link navigation -->
			<ul id="navigation">
				<li><span class="sub-nav-toggle plus"></span> <a href="/">Home</a>

					
				<li><span class="sub-nav-toggle plus"></span> <a
					href="#"> 영화  </a>
					<ul>
						<li><a th:href="@{/movielist}"> <i class="fa fa-camera-retro"></i> &nbsp 무비 차트 </a></li>
						<li><a th:href="@{/reviewrank}"> <i class="fa fa-trophy"></i>&nbsp 평점 랭킹 &nbsp<i class="fa fa-trophy"></i></a></li>
					</ul></li>
					
				<li><span class="sub-nav-toggle plus"></span> <a
					href="#"> 예매 <i class="fa fa-ticket"></i> </a>
					
					<ul>
						<li><a th:href="@{/book1}">예매하러 가기 &nbsp <i class="fa fa-mail-reply"></i></a></li>

					</ul>
				</li>
					
				<li><span class="sub-nav-toggle plus"></span> <a
					href="#"> 이벤트 </a>
					<ul>
						<li><a th:href="@{/coupon}"> 쿠폰 &nbsp <i class="fa fa-tag"></i>  </a></li>
						<li><a th:href="@{/reviewrank}"> AI 이미지 &nbsp <i class="fa fa-male"></i></a> </li>
						<li><a th:href="@{/orc}"> 포인트 &nbsp <i class="fa fa-money"></i></a> </li>
						<!-- <li class="menu__nav-item"><a href="/reviewrank"> 평점 랭킹 </a></li> -->

					</ul>
				</li>
					
				<li><span class="sub-nav-toggle plus"></span> <a
					href="#"> Contact <i class="fa fa-comment"></i></a>
				</li>
					
					
					
				<li><span class="sub-nav-toggle plus"></span> <a href="#">Mega
						menu</a>
					<ul class="mega-menu container">
						<li class="col-md-3 mega-menu__coloum">
							<h4 class="mega-menu__heading">Now in the cinema</h4>
							<ul class="mega-menu__list">
								<li class="mega-menu__nav-item"><a href="#">The
										Counselor</a></li>
								<li class="mega-menu__nav-item"><a href="#">Bad Grandpa</a></li>
								<li class="mega-menu__nav-item"><a href="#">Blue Is the
										Warmest Color</a></li>
								<li class="mega-menu__nav-item"><a href="#">Capital</a></li>
								<li class="mega-menu__nav-item"><a href="#">Spinning
										Plates</a></li>
								<li class="mega-menu__nav-item"><a href="#">Bastards</a></li>
							</ul>
						</li>



						<li
							class="col-md-3 mega-menu__coloum mega-menu__coloum--outheading">
							<ul class="mega-menu__list">
								<li class="mega-menu__nav-item"><a href="#">Gravity</a></li>
								<li class="mega-menu__nav-item"><a href="#">Captain
										Phillips</a></li>
								<li class="mega-menu__nav-item"><a href="#">Carrie</a></li>
								<li class="mega-menu__nav-item"><a href="#">Cloudy with
										a Chance of Meatballs 2</a></li>
							</ul>
						</li>

						<li class="col-md-3 mega-menu__coloum">
							<h4 class="mega-menu__heading">Ending soon</h4>
							<ul class="mega-menu__list">
								<li class="mega-menu__nav-item"><a href="#">Escape Plan</a></li>
								<li class="mega-menu__nav-item"><a href="#">Rush</a></li>
								<li class="mega-menu__nav-item"><a href="#">Prisoners</a></li>
								<li class="mega-menu__nav-item"><a href="#">Enough Said</a></li>
								<li class="mega-menu__nav-item"><a href="#">The Fifth
										Estate</a></li>
								<li class="mega-menu__nav-item"><a href="#">Runner
										Runner</a></li>
							</ul>
						</li>

						<li
							class="col-md-3 mega-menu__coloum mega-menu__coloum--outheading">
							<ul class="mega-menu__list">
								<li class="mega-menu__nav-item"><a href="#">Insidious:
										Chapter 2</a></li>
							</ul>
						</li>
					</ul></li>
			</ul>
		</nav>

		<!-- Additional header buttons / Auth and direct link to booking-->
		<div class="control-panel">
			<div class="auth auth--home">
				<div class="auth__show">
					<span class="auth__image"> <img alt=""
						src="/images/client-photo/auth.png">
					</span>
				</div>
				<a href="#" class="btn btn--sign btn--singin"> me </a>
				<ul class="auth__function">
					<li><a href="#" class="auth__function-item">Watchlist</a></li>
					<li><a href="#" class="auth__function-item">Booked tickets</a></li>
					<li><a href="#" class="auth__function-item">Discussion</a></li>
					<li><a href="#" class="auth__function-item">Settings</a></li>
				</ul>
			</div>
				<a href="/login" class="btn btn-default">LOGIN</a> 		
		</div>

	</div>
</header>