<meta charset="UTF-8">
<style>
li {
	/* list-style-image: url("/images/icons/heart.svg"); */
	list-style-image: none;
}

</style>
<!-- Header section -->
<header class="header-wrapper header-wrapper--home">
	<div class="container">
		<!-- Logo link-->
		<a th:href='@{/}' class="logo"> <img alt='logo'
			src="/images/new logo.png">
		</a>

		<!-- Main website navigation-->
		<nav id="navigation-box">
			<!-- Toggle for mobile menu mode -->
			<a href="#" id="navigation-toggle"> <span class="menu-icon">
					<span class="icon-toggle" role="button"
					aria-label="Toggle Navigation"> <span class="lines"></span>
				</span>
			</span>
			</a>


			<!-- Link navigation -->
			<ul id="navigation">
				<li><a th:href="@{/}">Home</a>

					
				<li><span class="sub-nav-toggle plus"></span> <a
					href="#"> 영화  </a>
					<ul>
						<li><a th:href="@{/movielist}">  &nbsp 무비 차트 </a></li>
						<li><a th:href="@{/reviewrank}"> &nbsp 평점 랭킹 &nbsp</a></li>
					</ul></li>
					
				<li><a th:href="@{/book1}">예매</a>
					
					
				</li>
					
				<li><span class="sub-nav-toggle plus"></span> <a
					href="#"> 이벤트 </a>
					<ul>
						<li><a th:href="@{/coupon}"> 쿠폰 &nbsp  </a></li>
						<li><a th:href="@{/cfr}"> AI 이미지 &nbsp</a> </li>
						<li><a th:href="@{/orc}"> 포인트 &nbsp </a> </li>
						<!-- <li class="menu__nav-item"><a href="/reviewrank"> 평점 랭킹 </a></li> -->

					</ul>
				</li>
					
				<li>
				<a th:href="@{/contact}"> Contact</a>
				</li>
					
					
					
	
			</ul>
		</nav>

		<!-- Additional header buttons / Auth and direct link to booking-->
		<div class="control-panel">
         <div class="auth auth--home">
            <div class="auth__show">
               
            </div>
            
            <a href="#" class="btn btn--sign btn--singin"> me </a>
            <ul class="auth__function">
               <li><a href="/mypage" class="auth__function-item">회원정보</a></li>
               <li><a href="/signout" class="auth__function-item">로그아웃</a></li>
            </ul>
         </div>
         
            <ul>
                <li th:if="${session.user == null}" >
                <a href="/signin"  class="btn btn--sign">로그인</a></li>
                    
                <li th:unless="${session.user == null}">
                <a href="#" class="btn btn--sign"><span th:text="${session.user.name}"></span> 님, 반갑습니다.</a></li>
            </ul>
      </div>
   </div>
</header>