<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.Detail_reservationMapper">
	
	<select id="select" parameterType="Integer" resultType="detail_reservationVO">
		SELECT * FROM detail_reservation WHERE id=#{id}
	</select>
	<select id="selectall" resultType="detail_reservationVO">
		SELECT * FROM detail_reservation
	</select>
	<insert id="insert" parameterType="detail_reservationVO">
		INSERT INTO detail_reservation VALUES (#{id},#{sid},sysdate(),#{mcnt},#{seatid})
	</insert>
	<update id="update" parameterType="detail_reservationVO">
		UPDATE detail_reservation SET sid=#{sid}, mcnt=#{mcnt}, seatid=#{seatid} WHERE id=#{id}
	</update>
	<delete id="delete" parameterType="detail_reservationVO">
		DELETE FROM detail_reservation WHERE id=#{id}
	</delete>
</mapper>






