<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.MovieMapper">
	
	<select id="select" parameterType="Integer" resultType="movieVO">
		SELECT * FROM movie WHERE id=#{id}
	</select>
	<select id="selectall" resultType="movieVO">
		SELECT m.id as id,g.name as gname, m.director as director, m.mainactor as mainactor,
		m.releasedate as releasedate, m.posterimg1 as posterimg1,m.posterimg2 as posterimg1, m.country as country,
		m.runningtime as runningtime, m.text as text, COUNT(r.id) as rcnt,ROUND(AVG(r.star),1) as star FROM movie m
		INNER JOIN genre g ON g.id = m.gid
		INNER JOIN reviews r ON r.mid=m.id
		GROUP BY id
	</select>
	<select id="selectschedules" resultType="movieVO">
		SELECT m.id as id, s.id as sid,s.tid as tid,s.sdate as sdate,
		ds.starttime as starttime, ds.endtime as endtime FROM movie m
		INNER JOIN schedules s ON s.mid=m.id
		INNER JOIN detail_schedules ds ON ds.sid = s.id
	</select>
	<insert id="insert" parameterType="movieVO">
		INSERT INTO movie VALUES (#{id},#{gid},#{title},#{director},#{mainactor},#{releasedate},#{posterimg1},#{posterimg2},#{country},#{runningtime},#{text})
	</insert>
	<update id="update" parameterType="movieVO">
		UPDATE movie SET gid=#{gid},title=#{title}, director=#{director}, mainactor=#{mainactor},releasedate=#{releasedate},posterimg1=#{posterimg1},posterimg2=#{posterimg2},country=#{country},runningtime=#{runningtime},text=#{text} WHERE id=#{id}
	</update>
	<delete id="delete" parameterType="movieVO">
		DELETE FROM movie WHERE id=#{id}
	</delete>
</mapper>






