<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.PointlistMapper">
	
	<select id="select" parameterType="int" resultType="pointlistVO">
		SELECT * FROM pointlist WHERE id=#{id}
	</select>
	<select id="selectall" resultType="pointlistVO">
		SELECT * FROM pointlist
	</select>
	<select id="selectpoint" parameterType="String" resultType="pointlistVO">
		SELECT p.id, p.uid, p.price, p.regdate, p.text from pointlist p
		INNER JOIN cust c ON c.id = p.uid
		WHERE p.uid = #{id}
	</select>
	<insert id="insert" parameterType="pointlistVO">
		INSERT INTO pointlist VALUES (null,#{uid},#{price},sysdate(),#{text})
	</insert>
	<update id="update" parameterType="pointlistVO">
		UPDATE pointlist SET uid=#{uid}, price=#{price},regdate=#{regdate},text=#{text} WHERE id=#{id}
	</update>
	<delete id="delete" parameterType="pointlistVO">
		DELETE FROM pointlist WHERE id=#{id}
	</delete>
</mapper>