<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.SeatMapper">
	
	<select id="select" parameterType="String" resultType="seatVO">
		SELECT * FROM seat WHERE id=#{id}
	</select>
	<select id="selectall" resultType="seatVO">
		SELECT * FROM seat
	</select>
	<insert id="insert" parameterType="seatVO">
		INSERT INTO seat VALUES (#{id},#{r},#{c})
	</insert>
	<update id="update" parameterType="seatVO">
		UPDATE seat SET r=#{r},c=#{c} WHERE id=#{id}
	</update>
	<delete id="delete" parameterType="seatVO">
		DELETE FROM seat WHERE id=#{id}
	</delete>
</mapper>






