<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.TheaterMapper">
	
	<select id="select" parameterType="int" resultType="theaterVO">
		SELECT * FROM theater WHERE id=#{id}
	</select>
	<select id="selectall" resultType="theaterVO">
		SELECT * FROM theater
	</select>
	<select id="selectid" resultType="theaterVO">
		SELECT * FROM theater WHERE id=#{id}
	</select>
	<insert id="insert" parameterType="theaterVO">
		INSERT INTO theater VALUES (#{id},#{seatid})
	</insert>
	<update id="update" parameterType="theaterVO">
		UPDATE theater SET seatid=#{seatid} WHERE id=#{id}
	</update>
	<delete id="delete" parameterType="theaterVO">
		DELETE FROM theater WHERE id=#{id}
	</delete>
</mapper>






