<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.UsersMapper">
	
	<select id="select" parameterType="String" resultType="usersVO">
		SELECT * FROM users WHERE uid=#{uid}
	</select>
	<select id="selectall" resultType="usersVO">
		SELECT * FROM users
	</select>
	<insert id="insert" parameterType="usersVO">
		INSERT INTO users VALUES (#{uid},#{upwd},#{uname},#{uphone},#{upost},#{uaddr},#{udaddr},SYSDATE())
	</insert>
	<update id="update" parameterType="usersVO">
		UPDATE users SET upwd=#{upwd},uname=#{uname}, uphone=#{uphone}, upost=#{upost},uaddr=#{uaddr},udaddr=#{udaddr} WHERE uid=#{uid}
	</update>
	<delete id="delete" parameterType="usersVO">
		DELETE FROM users WHERE uid=#{uid}
	</delete>
</mapper>






