<head>
<meta charset="utf-8">
       <title>AMovie - Movie list</title>
       <meta name="description" content="A Template by Gozha.net">
       <meta name="keywords" content="HTML, CSS, JavaScript">
       <meta name="author" content="Gozha.net">
       <!-- jQuery 3.1.1--> 
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    	<script>window.jQuery || document.write('<script src="/js/external/jquery-3.1.1.min.js"><\/script>')</script>
	<!-- jQuery UI -->
    <link href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" rel="stylesheet">
  	<script>
  	$(document).ready(function() {
  	//toggle timetable show
        $('.movie__show-btn').click(function (ev) {
            ev.preventDefault();
            $(this).parents('.movie--preview').find('.time-select').slideToggle(500);
        });
  		$('.time-select__item').click(function (){
            $('.time-select__item').removeClass('active');
            $(this).addClass('active');
        });
  		$( ".datepicker__input" ).datepicker({
            showOtherMonths: true,
            selectOtherMonths: true,
            showAnim:"fade"
          });

          $(document).click(function(e) { 
              var ele = $(e.target); 
              if (!ele.hasClass("datepicker__input") && !ele.hasClass("ui-datepicker") && !ele.hasClass("ui-icon") && !$(ele).parent().parents(".ui-datepicker").length){
                 $(".datepicker__input").datepicker("hide");
               }
          });
    });
    </script>
    <style>
    
		.star-ratings {
		  color: #aaa9a9; 
		  position: relative;
		  unicode-bidi: bidi-override;
		  width: max-content;
		  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
		  -webkit-text-stroke-width: 1.3px;
		  -webkit-text-stroke-color: #2b2a29;
		}
		 
		.star-ratings-fill {
		  color: #fff58c;
		  padding: 0;
		  position: absolute;
		  z-index: 1;
		  display: flex;
		  top: 0;
		  left: 0;
		  overflow: hidden;
		  -webkit-text-fill-color: gold;
		}
		 
		.star-ratings-base {
		  z-index: 0;
		  padding: 0;
		}
    </style>
</head>
<body>
        <!-- Main content -->
        <section class="container">
            <div class="col-sm-12">
                <h2 class="page-heading">Movies</h2>

                 <div class="tags-area">
                    <div class="tags tags--unmarked">
                        <span class="tags__label">Sorted by:</span>
                            <ul>
                                <li class="item-wrap">
                                	<a id="1" th:href="@{/movielist(sort=0)}" th:if="${sort}==0" class="tags__item item-active" data-filter='all'>all</a>
                                	<a id="1" th:href="@{/movielist(sort=0)}" th:if="${sort}!=0" class="tags__item" data-filter='all'>all</a>
                               	</li>
                                <li class="item-wrap">
                                	<a id="2" th:href="@{/movielist(sort=1)}" th:if="${sort}==1" class="tags__item item-active" data-filter='release'>개봉일 오래된 순</a>
                                	<a id="2" th:href="@{/movielist(sort=1)}" th:if="${sort}!=1" class="tags__item" data-filter='release'>개봉일 오래된 순</a>
                               	</li>
                                <li class="item-wrap">
                               		<a id="3" th:href="@{/movielist(sort=2)}" th:if="${sort}==2" class="tags__item item-active" data-filter='release'>별점 순</a>
                               		<a id="3" th:href="@{/movielist(sort=2)}" th:if="${sort}!=2" class="tags__item" data-filter='release'>별점 순</a>
                                </li>
                                <li class="item-wrap">
                                	<a id="4" th:href="@{/movielist(sort=3)}" th:if="${sort}==3" class="tags__item item-active" data-filter='comments'>리뷰 많은 순</a>
                                	<a id="4" th:href="@{/movielist(sort=3)}" th:if="${sort}!=3" class="tags__item" data-filter='comments'>리뷰 많은 순</a>
                                </li>
                            </ul>
                    </div>
                </div>
                
                <!-- Movie preview item -->
                
                <div th:each="m:${movie}"class="movie movie--preview movie--full release">
                     <div class="col-sm-3 col-md-2 col-lg-2">
                            <div class="movie__images">
                                <img alt='' th:src="'/images/movie/'+${m.posterimg1}">
                            </div>
                            <div class="movie__feature">
                                <a href="#" class="movie__feature-item movie__feature--comment" th:text="${m.rcnt}">123</a>
                                <a href="#" class="movie__feature-item movie__feature--video">&nbsp;</a>
                                <a href="#" class="movie__feature-item movie__feature--photo">&nbsp;</a>
                            </div>
                    </div>

                    <div class="col-sm-9 col-md-10 col-lg-10 movie__about">
                            <a th:href="@{/movielist/detail(id=${m.id})}" class="movie__title link--huge" th:name="title" th:text="${m.title}">Last Vegas (2013)</a>

                            <p class="movie__time" th:text="${m.runningtime}">105 min</p>

                            <p class="movie__option"><strong>Country: </strong><a href="#" th:text="${m.country}">USA</a></p>
                            <p class="movie__option"><strong>Category: </strong><a href="#" th:text="${m.gname}">Comady</a></p>
                            <p class="movie__option"><strong>Release date: </strong><a th:text="${#dates.format(m.releasedate,'yyyy-MM-dd')}">November 1, 2013</a></p>
                            <p class="movie__option"><strong>Director: </strong><a href="#" th:text="${m.director}">Jon Turteltaub</a></p>
                            <p class="movie__option"><strong>Actors: </strong><a href="#" th:text="${m.mainactor}">Robert De Niro</a></p>
                            <p class="movie__option"><strong>Running time: </strong><a href="#" th:text="${m.runningtime}">13</a></p>

                            <div class="movie__btns">
                                <a href="#" class="btn btn-md btn--warning">book a ticket <span class="hidden-sm">for this movie</span></a>
                            </div>

                            <div class="preview-footer">
                                <div class="movie__rate">
                                	<div class="star-ratings">
										<div class="star-ratings-fill space-x-2 text-lg"
									    th:style="${'width:'+m.star*20+'%'}">
											<span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
										</div>
										<div class="star-ratings-base space-x-2 text-lg">
											<span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
										</div>
									</div>
                                <span class="movie__rate-number" th:text="${m.rcnt}+'votes'">170 votes</span> <span class="movie__rating" th:text="${m.star}">5.0</span>
                                </div>
                                <a class="movie__show-btn">Showtime</a>
                            </div>
                    </div>

                    <div class="clearfix"></div>
                    
                    <!-- Time table (choose film start time)-->
                    <div class="time-select">
                        <div class="time-select__group group--first" >
                        	<div class="datepicker">
		                      <span class="datepicker__marker" ><i class="fa fa-calendar"></i>Date</span>
		                     
		                      <input type="date" id="datepicker" name="datepicker" class="datepicker__input">
		                     
		                    </div>
                            <div class="col-sm-4">
                                <p class="time-select__place">Cineworld</p>
                            </div>
                            <ul class="col-sm-8 items-wrap">
                                <li class="time-select__item" data-time='09:40'>09:40</li>
                                <li class="time-select__item" data-time='13:45'>13:45</li>
                                <li class="time-select__item active" data-time='15:45'>15:45</li>
                                <li class="time-select__item" data-time='19:50'>19:50</li>
                                <li class="time-select__item" data-time='21:50'>21:50</li>
                            </ul>
                        </div>                        
                    </div>
                    <!-- end time table-->

                </div>
                <!-- end movie preview item -->
                <div class="coloum-wrapper">
                    <div class="pagination paginatioon--full">
                            <a href='#' class="pagination__prev" th:if="${mnum}-1>=0" th:href="@{/movielist(mnum=${mnum}-3,sort=${sort})}">prev</a>
                            <a href='#' class="pagination__prev" th:if="${mnum}-1<=0">prev</a>
                            <a href='#' class="pagination__next" th:href="@{/movielist(mnum=${mnum}+3,sort=${sort})}">next</a>
                    </div>
                </div>

            </div>
        </section>
        
        <div class="clearfix"></div>

    <!-- open/close -->
        <div class="overlay overlay-hugeinc">
            
            <section class="container">

                <div class="col-sm-4 col-sm-offset-4">
                    <button type="button" class="overlay-close">Close</button>
                    <form id="login-form" class="login" method='get' novalidate=''>
                        <p class="login__title">sign in <br><span class="login-edition">welcome to A.Movie</span></p>

                        <div class="social social--colored">
                                <a href='#' class="social__variant fa fa-facebook"></a>
                                <a href='#' class="social__variant fa fa-twitter"></a>
                                <a href='#' class="social__variant fa fa-tumblr"></a>
                        </div>

                        <p class="login__tracker">or</p>
                        
                        <div class="field-wrap">
                        <input type='email' placeholder='Email' name='user-email' class="login__input">
                        <input type='password' placeholder='Password' name='user-password' class="login__input">

                        <input type='checkbox' id='#informed' class='login__check styled'>
                        <label for='#informed' class='login__check-info'>remember me</label>
                         </div>
                        
                        <div class="login__control">
                            <button type='submit' class="btn btn-md btn--warning btn--wider">sign in</button>
                            <a href="#" class="login__tracker form__tracker">Forgot password?</a>
                        </div>
                    </form>
                </div>

            </section>
            </div>
        <!-- jQuery UI -->
        <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
		
</body>
