<!doctype html>
<html>
<head>
<!-- Basic Page Needs -->
<meta charset="utf-8">
<title>Ticket_SaJo</title>
<meta name="description" content="A Template by Gozha.net">
<meta name="keywords" content="HTML, CSS, JavaScript">
<meta name="author" content="Gozha.net">

<!-- Mobile Specific Metas-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="telephone=no" name="format-detection">



<style>
.star-ratings {
	color: #aaa9a9;
	position: relative;
	unicode-bidi: bidi-override;
	width: max-content;
	-webkit-text-fill-color: transparent;
	/* Will override color (regardless of order)
	-webkit-text-stroke-width: 1.3px;
	-webkit-text-stroke-color: #2b2a29; */
}

.star-ratings-fill {
	color: #fff58c;
	padding: 0;
	position: absolute;
	z-index: 1;
	display: flex;
	top: 0;
	left: 0;
	overflow: hidden;
	-webkit-text-fill-color: #212121;
}

.star-ratings-base {
	z-index: 0;
	padding: 0;
}
</style>
</head>

<body>
	<div class="wrapper">
		<!-- Main content -->
		<section class="container">
			<div class="col-sm-12">
				<div class="row">
					<div class="col-sm-12">
						<h2 class="page-heading">평점 순위를 확인해 보세요!!</h2>

						<div class="rates-wrapper rates--full">

							<table>
								<colgroup class="col-width-lg">
								<colgroup class="col-width">
								<colgroup class="col-width-sm">
								<colgroup class="col-width">
								<tr class="rates rates--top"
									th:each="movie,index : ${starSortList}">
									<td class="rates__obj"><a href="#" class="rates__obj-name"
										th:text="(${index.index}+1+${mnum})+'. '+${movie.title}" th:href="@{/movielist/detail(id=${movie.id})}"></a></td>
									<td class="rates__vote" th:text="'실관람평 : '+ ${movie.rcnt}+' 명'">
										reviews</td>
									<td class="rates__result" th:text="${movie.star}">5.0</td>
									<td class="rates__stars">
										<div class="col-sm-4"></div>
										<div class="col-sm-8">
											<div class="movie__rate">
												<div class="star-ratings">
													<div name="${movie.star}"
														class="star-ratings-fill space-x-4 text-lg"
														th:style="${'width:'+movie.star*20+'%'}">
														<span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
													</div>
													<div class="star-ratings-base space-x-4 text-lg">
														<span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
													</div>
												</div>
											</div>
										</div>

									</td>
								</tr>
							</table>
						</div>

						<div class="pagination paginatioon--full coloum-wrapper">
							<a th:href="@{/reviewrank(mnum=${mnum}-5)}"
								th:if="${mnum}-5 >= 0" class="pagination__prev">이전</a> <a
								th:href="@{/reviewrank(mnum=${mnum}+5)}"
								th:if="${mnum}+5 <= ${rankcnt}" class="pagination__next">다음</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div class="clearfix"></div>
	</div>
	<script type="text/javascript">
		$(document).ready(function() {
			init_Rates();
		});
	</script>

</body>
</html>
