@charset "EUC-KR";

.offer {
	background-color: #4c4145;
	overflow: hidden;
	display: block;
	text-align: center;
	min-height: 325px;
	padding: 0 25px;
	margin-bottom: 30px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	border-radius: 30px;
}

.offer .offer__head {
	position: relative;
	height: 120px;
	display: block;
	margin-bottom: 41px;
}

.offer .offer__head:before {
	background-image: url("../images/components/wave-light.svg");
	background-repeat: no-repeat;
	background-size: 84px 8px;
	bottom: 0px;
	content: "";
	height: 8px;
	left: 50%;
	margin-left: -42px;
	position: absolute;
	width: 84px;
}

.offer .offer__name {
	color: #ffffff;
	font: 30px 'aleobold', sans-serif;
	text-transform: uppercase;
	margin-top: 44px;
	margin-bottom: 17px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.offer .offer__datail {
	color: #ffffff;
	font: 18px 'aleoitalic', sans-serif;
	text-transform: none;
	font-weight: 300;
	line-height: 21px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.offer .offer__full {
	color: #b4b1b2;
	font-size: 13px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.offer:hover {
	background-color: #ffd564;
}

.offer:hover .offer__name, .offer:hover .offer__datail, .offer:hover .offer__full
	{
	color: #4c4145;
}

.offer-place {
	color: #fe505a;
	font-family: 'aleoitalic', sans-serif;
	font-size: 18px;
	text-align: center;
	margin-bottom: 23px;
}

.offers-block {
	overflow: hidden;
	margin-top: -10px;
	margin-bottom: 32px;
}

.offers-block--last {
	margin-bottom: -30px;
}

.offer {
	background-repeat: no-repeat;
	background-position: 50% 7px;
}

.offer--winter {
	background-image: url(../images/icons/snow-dark.svg);
}

.offer--family {
	background-image: url(../images/icons/users-dark.svg);
}

.offer--day {
	background-image: url(../images/icons/wizard-dark.svg);
}

.offer--teen {
	background-image: url(../images/icons/smile-dark.svg);
}

.offer--gift {
	background-image: url(../images/icons/gift-dark.svg);
}

.offer--winter:hover {
	background-image: url(../images/icons/snow-light.svg);
}

.offer--family:hover {
	background-image: url(../images/icons/users-light.svg);
}

.offer--day:hover {
	background-image: url(../images/icons/wizard-light.svg);
}

.offer--teen:hover {
	background-image: url(../images/icons/smile-light.svg);
}

.offer--gift:hover {
	background-image: url(../images/icons/gift-light.svg);
}

.offer {
	padding: 0 15px;
	min-height: 345px;
}

.offer {
	min-height: 350px;
}

