
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head>
<style>
.stretch-card{
margin:auto;
}
span{
margin-bottom:10px;
}
</style>
<script th:inline="javascript">
	
	$(document).ready(function(){
		var msg = [[${msg}]];
		if(msg != null){
			alert(msg)
		}
		
		 
	});
</script>

</head>
<body>
      <!-- partial -->
      <div class="main-panel">        
        <div class="content-wrapper">
          <div class="row">
            
            <div class="grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title" th:text="${sv.id}+'번의 스케줄 상세'">스케줄 상세</h4>
                  <img alt='' th:src="@{'/images/'+${sv.posterimg1}}" width="180" height="300">
                  <p class="card-description" th:text="${sv.title}"></p>
                  <p class="card-description" th:text="'상영관 : '+${sv.tid}+'관'"></p>
             	  <p class="card-description" th:text="'상영날짜 : '+${sv.sdate}"></p>
            	  <div th:each="ds : ${dslist}" >
            	  	
            	  	<span class="card-description" th:text="${ds.mcnt}+'회차'"></span>
            	  	<span class="card-description" th:text="'시작시간 : '+${ds.starttime}"></span>
            	  	<span class="card-description" th:text="'끝나는시간 : '+${ds.endtime}"></span>
            	  	
            	  
            	  	
            	  	<span class="card-description" th:text="'좌석현황 : '+(${seatcnt}-${ds.bookedcnt})+'/'+${seatcnt}"></span>
            	  	<span class="card-description" th:text="'예약좌석 : '+${ds.bookedcnt}"></span>
            	  </div>
                 
             	
            
             		
             		
                     <a class="btn btn-light" style="display :inline-block;" th:href="@{update(id=${sv.id})}">스케줄 수정</a>
                    <a class="btn btn-light" style="display :inline-block;" th:href="@{delete(sid=${sv.id})}">스케줄 삭제</a>
                    
                    <a class="btn btn-light" style="display :inline-block;" th:href="@{delete(sid=${sv.id})}">상세스케줄 수정</a>

                   <a class="btn btn-light" style="display :inline-block;" th:href="@{calendar}">뒤로가기</a>
                </div>
              </div>
            </div>
         
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright 짤 2021.  Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>
          </div>
        </footer>
        <!-- partial -->
      </div>
  <!-- plugins:js -->
  <script src="../../vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="../../vendors/typeahead.js/typeahead.bundle.min.js"></script>
  <script src="../../vendors/select2/select2.min.js"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="../../js/off-canvas.js"></script>
  <script src="../../js/hoverable-collapse.js"></script>
  <script src="../../js/template.js"></script>
  <script src="../../js/settings.js"></script>
  <script src="../../js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="../../js/file-upload.js"></script>
  <script src="../../js/typeahead.js"></script>
  <script src="../../js/select2.js"></script>
  <!-- End custom js for this page-->
</body>


