<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">

<head>
<style>
.table{
text-align: center;
}
.card-title{
text-align: center;
margin-top:10px;
}
.card-body{
margin-top:10px;
}
.pagination{
margin-top:30px;
}
.left{
float:center;
}
.right{
float:right;
}
.center{
float:center;
}
</style>
</head>

<body>

	
	<div class="coloum-wrapper">
		<div class="pagination paginatioon--full">
			<div class="col-sm-4">
				<a class="btn btn-primary mr-2 left" th:href="@{/schedule/calendar}">캘린더로 보기</a>
			</div>
			<div class="col-sm-4 center">
				
				<h3 class="card-title">스케줄 목록</h3>
			</div>
	        <div class="col-sm-4">
				<a class="btn btn-primary mr-2 right" th:href="@{/schedule/add}">스케줄 추가</a>              
			</div>                     
		</div>
	</div>

  <div class="container-scroller">
    <div class="card">
                <div class="card-body">
           
                  

                  <div class="table-responsive pt-3">
                    <table class="table table" >
                      <thead>
                        <tr>
                          <th>
                           	상영 번호
                          </th>
                          <th>
                            상영관
                          </th>
                          <th>
                            영화
                          </th>
                          <th>
                            상영날짜
                          </th>
                          <th>
                            상세보기
                          </th>
             
                        </tr>
                      </thead>
                      <tbody th:each="s:${slist}">
                        <tr>
                          <td th:text="${s.id}">
                            1
                          </td>
                          <td th:text="${s.tid}">
                            Herman Beck
                          </td>
                          <td th:text="${s.title}">
                            $ 77.99
                          </td>
                          <td th:text="${s.sdate}">
                            $ 77.99
                          </td>
                          <td>
                            <a class="btn btn-inverse-info btn-fw" th:href="@{/schedule/detail(sid=${s.id})}">상세보기</a>
                          </td>

                        </tr>
                       
                      </tbody>
                    </table>
                    <div class="coloum-wrapper">
                    <div class="pagination paginatioon--full">
                    	<div class="col-sm-6">
                    		<a href='#' class="btn btn-primary mr-2" th:if="${mnum}-1>=0" th:href="@{/schedule/list(mnum=${mnum}-10)}">이전</a>
                    	</div>
                        <div class="col-sm-6">
                        	<a  href='#' class="btn btn-primary mr-2 right" th:if="${#lists.size(slist)} == 10"  th:href="@{/schedule/list(mnum=${mnum}+10)}">다음</a>
                        	
                        
                        </div>
                           
                    </div>
                </div>
                  </div>
                </div>
              </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
 
</body>
