
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head>
<style>
.stretch-card{
margin:auto;
}
.btn-box{
margin:auto;
text-align: center;
}

</style>
<script th:inline="javascript">

	var runningtime = [[${runningtime}]]
	var dslist = [[${dslist}]]
	function inputTimeColon(time) {
		
        // 기존에 들어가 있는 (:)을 제거
        var replaceTime = time.value.replace(/\:/g, "");

        // 글자수가 4~5개 사이일때만 동작하게 조건 명시
        if(replaceTime.length >= 4 && replaceTime.length < 5) {
            var hours = replaceTime.substring(0, 2);  // 시간 추출
            var minute = replaceTime.substring(2, 4);  // 분을 추출

            if(hours + minute > 2400) {
                alert("시간은 24시를 넘길 수 없습니다.");
                time.value = "24:00";
                return false;
            }

            if(hours + minute < 0) {
                alert("잘못된 시간입니다.");
                time.value = "00:00";
                return false;
            }

            if(minute > 60) {
                alert("분은 60분을 넘길 수 없습니다.");
                time.value = hours + ":00";
                return false;
            }
   
            // 시간을 완성하고 반환한다.
            time.value = hours + ":" + minute;
            
           
        }
	}
	function addclick(num){
		
		var mcnt = $('#selmcnt'+num).val();
		var starttime = $('#starttime'+num).val();
		var endtime = $('#endtime'+num).val();
		
		
		if(mcnt ==0 || mcnt ==''){
			alert("회차를 선택해주세요");
			return;
		}
		if(starttime ==0 || starttime ==''){
			alert("시작시간을 입력해주세요");
			return;
		}
		

		$('#dv'+num).val(mcnt+','+starttime+','+endtime);
		$('#selmcnt'+num).attr("disabled",true);
		$('#starttime'+num).attr("disabled",true);
		$('#endtime'+num).attr("disabled",true);
		$('.sel'+mcnt).hide();
		$('#cancelmcnt'+num).show();
		$('#addmcnt'+num).hide();
	}
	function cancelclick(num){
		var bcnt = $("#bcnt"+num).text();
		if (bcnt > 0) {
			alert("예매가 진행된 스케줄입니다. 수정이 불가능합니다.")
			return
		}
		var mcnt = $('#selmcnt'+num).val();
		$('.sel'+mcnt).attr("disabled",false);
		$('#selmcnt'+num).attr("disabled",false);
		$('#starttime'+num).attr("disabled",false);
		$('#endtime'+num).attr("disabled",false);
		$('.sel'+mcnt).show();
		$('#dv'+num).val('');
		$('#cancelmcnt'+num).hide();
		$('#addmcnt'+num).show();
	}
	function updatedetailimpl() {
		 	$('.check').attr({
				'method':'get'
					 
			});
			$('.check').submit();
	}

	$(document).ready(function(){
		$('.cancel').hide();
		for (var i = 1; i < dslist.length+1; i++) {
			if(dslist[i-1] != null) {
				var sttime = dslist[i-1].starttime;
				var replaceTime = sttime.replace(/\:/g, "");
				var hours = replaceTime.substring(0, 2);  // 시간 추출
			    var minute = replaceTime.substring(2, 4);  // 분을 추출
			    hours = hours * 60;
			    var total = hours + Number(minute);
			    total = total + runningtime
			    var endhours;
			    if(parseInt(total / 60) >=24) {
			    	endhours = parseInt(total / 60) - 24;
			    }else {
			    	endhours = parseInt(total / 60)
			    }
			    var endminute = total % 60; 
				$("#selmcnt"+dslist[i-1].mcnt).val(dslist[i-1].mcnt).prop("selected", true); //값이 1인 option 선택
				$("#starttime"+dslist[i-1].mcnt).val(sttime);
				$("#endtime"+dslist[i-1].mcnt).val(('00' + endhours).slice(-2)+':'+('00' + endminute).slice(-2));
				$("#booked"+dslist[i-1].mcnt).text("예매된 좌석 : ");
				$("#bcnt"+dslist[i-1].mcnt).text(dslist[i-1].bookedcnt);
				addclick(dslist[i-1].mcnt);
			}
		}
			
		
		
		
	
		$('.starttime').keyup(function(){
			var st = $(this).val();
			var replaceTime = st.replace(/\:/g, "");
			var hours = replaceTime.substring(0, 2);  // 시간 추출
		    var minute = replaceTime.substring(2, 4);  // 분을 추출
		    hours = hours * 60;
		    var total = hours + Number(minute);
		    total = total + runningtime
		    var endhours;
		    if(parseInt(total / 60) >=24) {
		    	endhours = parseInt(total / 60) - 24;
		    }else {
		    	endhours = parseInt(total / 60)
		    }
		  
	
		    var endminute = total % 60; 
		  
			$(this).next().val(('00' + endhours).slice(-2)+':'+('00' + endminute).slice(-2));
		});
	
			
			
	
		
		

		 
	});
</script>

</head>
<body>
      <!-- partial -->
      <div class="main-panel">        
        <div class="content-wrapper">
          <div class="row">
            
            <div class="col-7 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">상영 회차 입력</h4>
                  <p class="card-description">
                    2. 상영회차와 시작시간을 입력해주세요
                  </p>
                  <form class="check" th:action="@{/schedule/updatedetailimpl}">
	                  <div class="form-group">
	               		  <input type="hidden" th:id = sid th:name= sid th:value="${sid}">
	                      <input type="hidden" class="form-control" th:each = "num:${#numbers.sequence(1,10)}" th:id="'dv'+${num}" th:name="'dv'+${num}">
	                  </div>
                  </form>
                 
                    <div class='card-body'>
	                   <div class ="form-group" th:each = "num:${#numbers.sequence(1,10)}" >
	                   		<select th:class ="'form-control-sm selmcnt'+${num}" th:name="'selmcnt'+${num}" th:id="'selmcnt'+${num}" >
	                   			<option value="0">회차</option>
	                   			<option  th:each = "numsel:${#numbers.sequence(1,10)}"  th:value="${numsel}" th:text="${numsel}" th:id="'sel'+${numsel}" th:class="'sel'+${numsel}"></option>
	                   		</select>
							<input type='text' th:id="'starttime'+${num}" class='form-control-sm starttime' onkeyup="inputTimeColon(this);" maxlength="5" placeholder="HH:MM" >
							<input type='text' th:id="'endtime'+${num}" class='form-control-sm endtime' disabled>
							<span th:id="'booked'+${num}" ></span><span th:id="'bcnt'+${num}" >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
							<a href='#' th:class="'btn btn-primary '+${num}" th:id="'addmcnt'+${num}" th:onClick="addclick([[${num}]]); return false;">&nbsp&nbspADD&nbsp&nbsp</a>
							<a href='#' th:class="'btn btn-light sm cancel '+${num}" th:id="'cancelmcnt'+${num}" th:onClick="cancelclick([[${num}]]); return false;">CANCEL</a>
						
	                   </div>
					</div>
					<div class="btn-box">
		                  <button class="btn btn-primary mr-2" style="display :inline-block;" onclick="updatedetailimpl()">업데이트</button>
		                  <a class="btn btn-light" style="display :inline-block;" th:href="@{detail?(sid=${sid})}">취소</a>
	         		 </div>
                  
            
                  </div>
                </div>
              </div>
            </div>
           
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright 짤 2021.  Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>
          </div>
        </footer>
        <!-- partial -->
      </div>
  <!-- plugins:js -->
  <script src="../../vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="../../vendors/typeahead.js/typeahead.bundle.min.js"></script>
  <script src="../../vendors/select2/select2.min.js"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="../../js/off-canvas.js"></script>
  <script src="../../js/hoverable-collapse.js"></script>
  <script src="../../js/template.js"></script>
  <script src="../../js/settings.js"></script>
  <script src="../../js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="../../js/file-upload.js"></script>
  <script src="../../js/typeahead.js"></script>
  <script src="../../js/select2.js"></script>
  <!-- End custom js for this page-->
</body>


