<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Skydash Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" th:href="@{/vendors/feather/feather.css}">
  <link rel="stylesheet" th:href="@{/vendors/ti-icons/css/themify-icons.css}">
  <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.base.css}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" th:href="@{/css/vertical-layout-light/style.css}">
  <!-- endinject -->
  <link rel="shortcut icon" th:href="@{/images/favicon.png}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <style>
  .brand-logo{
  	text-align: center;
  	
  }
  	#title{
  	    color: #27367f;
    font-size: 1.5rem;
    margin-right: 0;
    padding: 0.25rem 0;
    font-weight: bolder;
    margin-right: 0px;
  	}
  	h4{
  	text-align: center;
  	font: bolder;
  	}
  	h5{
  	text-align: center;
  	color: red;
  	}
  	h6{
  	text-align: center;
  	}
  </style>
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div class="brand-logo">
                <a id="title" th:href="@{/}">티켓 사조</a>
              </div>
              <h4>마스터 코드 보기</h4>
              
              <h6 class="font-weight-light">매 회 코드는 변경됩니다</h6>
              <form class="admin">
                <div class="form-group">
                  <input type="text" name="id" th:value="${code.code}" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="ID" readonly="readonly">
                </div>
                
               </form>
               
                
                <div class="text-center mt-4 font-weight-light">
                  <a th:href="@{/}" class="text-primary">돌아가기</a>
                </div>
                <h5 th:text="${msg}"></h5>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script th:src="@{/js/off-canvas.js}"></script>
  <script th:src="@{/js/hoverable-collapse.js}"></script>
  <script th:src="@{/js/template.js}"></script>
  <script th:src="@{/js/settings.js}"></script>
  <script th:src="@{/js/todolist.js}"></script>
  <!-- endinject -->
</body>

</html>
