<meta charset="UTF-8">
<style>
	#h3{
		text-align: center;
	}
	#id, #name {
   		border-radius: 20px;
   		border-color: #B8860B;
   		
   }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
function checkname(name) {
	   $.ajax({
	      url:'/checkname',
	      data:{'name':name},
	      success:function(data){
	         if(data == '1') {
	            $('#namespan').text('이미 사용중인 이름입니다.');
	            $('#namespan').css('color','red');
	         }else {
	            $('#namespan').text('사용가능한 아이디입니다');
	            $('#namespan').css('color','#3CB371');
	         }
	      }
	   });
	};

$(document).ready(function(){
	$('#updatebtn').click(function(){
		$('.user').attr({
			'method':'post',
			'action':'update'
		})
		$('.user').submit();
	});
});
</script>
<br>
<br>
<br>
<div class="field-wrap" style="margin-top:70px">
      <h3 id="h3">회원정보 수정</h3>
      <br>
<form class ="user">
      <div class="wrapper"> 
      &nbsp &nbsp &nbsp &nbsp   아이디 <input type="text" id="id" name="id" readonly="readonly" th:value="${session.user.id}">
         <span id="idspan"></span>
      </div>    
      
    <br>
      <div class="wrapper">
         &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 이름 <input type="text" id="name" name="name" th:value="${session.user.name}">
          <span id="namespan"></span>
      </div>
    
  <br>
  <br>
  
  <div class="field-wrap">
  	<button id="updatebtn" class="btn btn-md btn--warning btn--wider" style="margin-left:60px">회원정보 수정</button>
  </div>
</form>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>