<head>
<meta charset="UTF-8">
<style>
	#h3{
		text-align: center;
	}
	
	#now_pwd, #newpwd, #newpwdcheck {
   		border-radius: 20px;
   		border-color: #B8860B;
   }
   
   #p{
   		font-size: 12px;
   		color:#696969;
   		text-decoration: underline;
   }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
var nowpwd_ok, checkpwd_ok=0, newpwd_ok=0;

function checknowpwd(delete_pwd) {
   $.ajax({
      url:'/checkpwd',
      data:{'delete_pwd' : delete_pwd},   
      success:function(data) {
         if(data == '1') {            
            $('#now_pwdspan').html('현재 비밀번호와 일치합니다. 새로운 비밀번호를 설정해주세요.');
            $('#now_pwdspan').css('color','green');
            nowpwd_ok = 1;
         }else {
            $('#now_pwdspan').html('현재 비밀번호와 일치하지 않습니다.');
            $('#now_pwdspan').css('color','red');
            nowpwd_ok = 0;
         }
      }
   });
}

$(document).ready(function() {
   $('#now_pwd').keyup(function(){
      checknowpwd($(this).val());
   });
   
   $('#newpwd').blur(function(){
      var now_pwd = $('#now_pwd').val();
      var newpwd = $('#newpwd').val();
      
      if(now_pwd != newpwd){
         $('#new_pwdspan').html('사용가능합니다.');
         $('#new_pwdspan').css('color', 'green');      
         checkpwd_ok= 1;
      }else {
         $('#new_pwdspan').html('사용불가: 비밀번호 재작성이 필요합니다.');
         $('#new_pwdspan').css('color', 'red');
         checkpwd_ok= 0;
      }
   })
      
      $('input[name="newpwd"]').keyup(function(){
            var newpwd = $(this).val();
            if(newpwd.length >= 5){
               $('#new_pwdspan').text('보안에 강합니다. 사용가능합니다.');
               $('#new_pwdspan').css('color','green');
               newpwd_ok= 1;
            }else {
               $('#new_pwdspan').text('보안에 취약합니다. 5자리 이상이어야 합니다');
               $('#new_pwdspan').css('color', 'red');
               newpwd_ok= 0;
            }
                  
        });   

     $('#modifybtn').click(function(){
    	  var newpwd = $('#newpwd').val();
    	  var newpwdcheck = $('#newpwdcheck').val();
    	  
    	 if($('#now_pwd').val() == ''){
 			$('#now_pwdspan').text('입력해주세요.');
 			$('#now_pwdspan').css('color','red');
 			$('#now_pwd').focus();
 		}else{	
 			if($('#newpwd').val() == ''){
 	 			$('#new_pwdspan').text('입력해주세요.');
 	 			$('#new_pwdspan').css('color','red')
 	 			$('#newpwd').focus();
 		}else{
 			if($('#newpwdcheck').val() == ''){
 				$('#new_pwdcheckspan').text('입력해주세요.');
 	 			$('#new_pwdcheckspan').css('color','red');
 	 			$('#newpwdcheck').focus();
 		}else {
 			if(newpwd!=newpwdcheck) {
 				alert('새로운 비밀번호와 비밀번호 확인이 일치하지 않습니다.');
 		}else{
 			if(nowpwd_ok && checkpwd_ok && newpwd_ok){
 		
			 $('#custpwd_form').attr({
		            'action':'custpwdimpl',
		            'method':'post'
		    });
			   $('#custpwd_form').submit();
			   alert('비밀번호가 정상적으로 변경되었습니다.');
 		      }else{
 		    	  alert('현재 비밀번호를 다시 확인해주세요.');
 		      }
 			}
 		  }
 		}
		}
	});
});
</script>
</head>
<body>
<br>
<br>
<br>

<div class="field-wrap">
   <h3 id="h3">비밀번호 변경</h3>
   <p id="p"> 안전한 비밀번호로 내 정보를 보호하세요</p>
   <p id="p"> 다른 아이디/사이트에서 사용한 적 없는 비밀번호</p>
   <p id="p"> 이전에 사용한 적 없는 비밀번호</p>
</div>
<form class="wrapper" id="custpwd_form">
      <div class="field-wrap"> 
       현재 비밀번호:
         <span id="now_pwdspan"></span> 
        <input type="password" id="now_pwd" name="now_pwd">        
      </div>
      
       <br>
       
      <div class="field-wrap">
        새 비밀번호: 
         <span id="new_pwdspan"></span> 
         <input type="password" id="newpwd" name="newpwd">       
      </div>
      
      <br>
      
       <div class="field-wrap">
      새 비밀번호 확인: 
         <span id="new_pwdcheckspan"></span> 
         <input type="password" id="newpwdcheck" name="new_pwdcheck">
      </div>
</form>
    
      <div class="field-wrap">
       <br>
      <button class="btn" id="modifybtn">비밀번호 수정</button><br>
      <span id= "modifyspan"></span>
     </div>
     
  <br>
  <br>
</body>
</html>