<meta charset="UTF-8">
<div class="field-wrap">
<h1></h1>
	<strong><h4>아이디<span th:text="${session.user.id}"></span>님의 예매내역입니다.</h4></strong>
	<br>
	<br>
<table>
	<thead>
		<tr><th>예매 번호</th><th>날짜</th><th>시작 시간</th><th>끝나는 시간</th><th>영화제목</th></tr>
	</thead>
	<tbody>
		<tr th:each="r:${reservationlist}">
			<td><a href="" th:text="${r.id}" th:href="@{book4(id=${r.id})}">예매번호</a></td>
			<td th:text="${r.sdate}">날짜</td>
			<td th:text="${r.starttime}">시작 시간</td>
			<td th:text="${r.endtime}">끝나는 시간</td>
			<td th:text="${r.title}">영화제목</td>
		</tr>
	</tbody>
</table>
</div>